* {
	box-sizing: border-box;
}

.header {
	text-align: center;
}
.row {
	width: 100%;
}

.one {
	border: 1px black solid;
	margin: 5px;
	background-color: grey;
}
.two {
	float: left;
	margin-bottom: 10px;
}

.three {
	float: left;
	margin-bottom: 10px;
}

.chicken1,.chicken2,.chicken3 {
	text-align: center;
	padding: 5px;
	margin: 0px 0px 0px auto;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	max-width: 80px;
	display: block;
	
}

.chicken1 {
	background-color: orange;
}

.chicken2 {
	background-color: green;
	color: white;
}

.chicken3 {
	background-color: pink;
}
.chic-content {
	padding: 0px 7px 0px 10px;
}

@media (min-width: 992px) {
	.two,.three {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.two {
		width: 50%;
	}
	.three {
		width: 100%;
	}

@media (max-width: 767px) {
	.two, .three {
		width: 100%;
	}
}
